@font-face {
    font-family: 'mifuente';

}

body{
    background-color: rgb(232, 202, 233);
}
.fondo{
    position: relative;
    top: -110px;
    left: -30px;
    border-radius: 15%;
    transform: scale(1.0);
}
.text1{
    position: relative;
    top: -410px;
    left: 20px;
    font-size: 15px;
    color: white;
    
}
#document{
    position: relative;
    top: -400px;
    left: 20px;
    width: 100%;
    height: 100%;
    background-color: rgb(232, 202, 233);
}